@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Exo+2:wght@700;900&family=Satisfy&display=swap');

:root{
    --background: #ffffff;
    --opposite_background: #1c1d21;
    --section_background:#faf8f8;
    --text_and_details: #121212;
    --orange_contrast: #CC5500;
}

*{
    scroll-behavior: smooth;
}
canvas{
    pointer-events: none;
}

img,li,a{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    /* touch-action: pan-y; */
}

main{
    background: var(--background);
    color: var(--text_and_details);
    width: 100%;
    transition: 0.5s;
}

/* --------------- Cursor ----------------*/

#cursor{
    position: absolute;
    width: 20px;
    border-radius: 50%;
    pointer-events: none;
    aspect-ratio: 1;
    background: transparent;
    box-sizing: border-box;
    border: none;
    transform: translate(-50%,-50%);
    z-index: 5;
    display: none;
}

.navbar ul li:hover:not(:nth-child(4)) ~ #cursor{
    background: transparent;
    border: 1px solid var(--text_and_details);
    width: 60px;
} 

.navbar #hamburger_checkbox:hover ~ ul #cursor{
    opacity: 0;
} 

/* label:hover ~ #cursor{
    opacity: 0;
    transition: 0.2s;
}  */
/* --------------- Navbar ----------------*/

.navbar{
    height: 10vh;
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
}

.navbar ul{
    min-height: 10vh;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 5rem;
}

.navbar ul li{
    margin-right: 7.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--text_and_details);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav_toggle{
    display: flex;
    align-items: center;
}

/*---------- Imported Switch -------------*/

.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 20px;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 20px;
    left: 0.1em;
    bottom: 0.15em;
    background-color: #aeaaae;
    transition: .4s;
}

input:checked + .slider::before {
    background-color: var(--orange_contrast);
}

input:checked + .slider {
    background-color: rgb(230, 200, 146);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--orange_contrast);
}

input:checked + .slider:before {
    transform: translateX(1.2em);
}

/* ---------- Imported Particles -------------*/

.background-particles {
    position:absolute;
    display:block;
    top: 0;
    left: 0;  
    z-index: 1;
    pointer-events: none;

    }

/* ---------- Hamburger Button ---------------*/

#hamburger_checkbox{
    display: none;
}

.hamburger_button{
    transition: 1s;
    position: fixed;
    top: 15px;
    right: 50%;
    left:50%;
    transform: translateX(-35%);
    width: 40px;
    height: 35px;
    display: none;
    padding: 5px;
    border: 1px solid var(--text_and_details);
    border-radius: 15px;
    cursor: pointer;
}

.hamburger_button span{
    display: block;
    margin: 5px auto;
    width: 27.5px;
    height: 5px;
    background: var(--text_and_details);
    border-radius: 100px;
    transition: 0.5s;
}

#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(1){
    position: absolute;
    right: 30%;
    left: 30%;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: top left;
}
#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(2){
    position: absolute;
    opacity: 0;
    top: 40%;
    bottom: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    
}
#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(3){
    position: absolute;
    width: 30px;
    top: 25px;
    right: 30%;
    left: 30%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/* ---------- Presentation ---------------*/

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15% 5vh 15%;
    height: 85vh;
    width: 70%;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0;
}

.presentation_text{
    width: 60%;
    z-index: 5;
}

.presentation_text h1{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: 900;
}

.logo_container{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

#presentation_img{
    height: 400px;
    z-index: 5;
}

.presentation_text h2{
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.presentation_text p{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}

.presentation_text button{
    background: var(--text_and_details);
    color: var(--background);
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.presentation_text .buttons{
    display: flex;
    gap: 35px;
    margin-top: 25px;
}

.presentation_text .buttons a{
    text-decoration: none;
}

.presentation_text button:hover{
    background: var(--orange_contrast);
    cursor: pointer;
}

/* -------------- Introduction ---------------*/

.introduction{
    height: 80vh;
    padding: 10vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--opposite_background);
    font-family: 'Exo 2', sans-serif;
    color: var(--background);
    z-index: -5;
}

.introduction img{
    top: 0;
    width: 100px;
    filter:invert(100%);
}

.introduction h2{
    width: 40%;
    text-align: center;
    font-size: 28px;
}

.introduction p{
    font-size: 20px;
    width: 60%;
    text-align: center;
}

.introduction a{
    text-decoration: none;
}

.introduction button{
    background: var(--background);
    color: var(--opposite_background);
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    margin: 15px 0;
}

.introduction button:hover{
    background: var(--orange_contrast);
    cursor: pointer;
}

/* ------------Stack Container --------------*/

.stack-container{
    margin-top: 0;
    font-family: 'Exo 2', sans-serif;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, rgba(193,249,122,1) 0%, rgba(222,186,112,1) 50%, rgba(128,125,108,1) 100%);
    box-shadow: 0px -30px 30px -3px rgba(223, 95, 11, 0.1);
    z-index: 5;
}

.stack-container-background{
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 0;
    /* width: 115%; */
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* animation: rightToLeft 30s linear infinite; */
}

@keyframes rightToLeft{
    0% {
        left: 0%;
    }
    50% {
        left: -15%;
    }
    100% {
        left: 0%;
    }
}

.stack-row{
    padding: 0 5%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 25%;
    margin: 12.5px 0;
    display: flex;
    gap: 120px;
    align-items: center;
    z-index: 1;
}

.stack-row img{
    height: 75%;
    filter: drop-shadow(2px 2px 2px #585858);
    z-index: 9999;
    animation: counter-rotation 60s linear infinite;
}

.stack-row img:hover{
    cursor: pointer;
}
.toRight{
    /* transform: translateX(22.5%); */
    overflow:hidden;
}

.toLeft{
    /* transform: translateX(-22.5%); */
    overflow:hidden;
}

/* --------- Imported Hexagon ------------*/
.toRight .hexagon{
    animation: rotation 60s linear infinite;
}

.toLeft .hexagon{
    animation: counter-rotation 60s linear infinite;
}

.toLeft img{
    animation: rotation 60s linear infinite;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.75px;
    height: 150px;
    background: linear-gradient(90deg, #00ffb8, #0e966f);
    border-radius: 15px;
    transition: transform 400ms ease;
    position: relative;
}

.hexagon:hover{
    transition: 2s ease;
    background: linear-gradient(90deg, #e8a6f8, #b439d3);
    /* background: linear-gradient(90deg, #ff9b3e, #be7311); */
}

.hexagon::before, .hexagon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    background: inherit;
    border-radius: inherit;
}
.hexagon::before {
    transform: rotate(60deg);
}
.hexagon::after {
    transform: rotate(-60deg);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/*--------------- Projects ---------------*/

.projects{
    background: var(--background);
    min-height: 80vh;
    padding: 10vh 0;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-division{
    width: 90%;
    margin: 50px 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

.project{
    width: 49%;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 34px -3px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.project img{
    width: 100%;
    height: 100%;
    object-position: left;
    border-radius: 15px;
}

.project-overlay{
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.project-overlay p{
    max-width: 80%;
    text-align: center;
}

.project-overlay svg{
    background: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}

.project:hover .project-overlay{
    opacity: 1;
    pointer-events:all;
}

/*--------------- Footer -----------------*/

footer{
    height: 30vh;
    width: 100%;
    bottom: 0;
    background:var(--opposite_background);
}

/* ---------------------------------------*/

@media (max-width: 1250px) {
    .presentation{
        width: 80%;
        padding: 0 10% 5vh 10%;
    }
    .introduction p{
        width: 70%;
    }

    .introduction h2{
        width: 45%;
    }

    .stack-row{
        gap: 100px;
    }

    .hexagon{
        height: 140px;
        width: 90px;
    }
}

@media (max-width: 1050px) {
    .presentation{
        width: 90%;
        padding: 0 5% 5vh 5%;
    }

    .introduction p{
        width: 80%;
    }
    
    .stack-row{
        gap: 80px;
    }

    .hexagon{
        height: 130px;
        width: 86px;
    }
}

@media (max-width: 925px) {
    .navbar{
        width: 100%;
        position: relative;
    }
    .navbar ul{
        width: 100%;
        min-height: 75px;
        background: var(--section_background);
        position: fixed;
        flex-direction: column;
        z-index: 97;
    }
    .navbar ul li{
        margin-right: 0;
        z-index: 98;
    }
    .nav_toggle{
        display: none;
    }
    .hamburger_button{
        display: block;
        z-index: 99;
        transform: translateX(-50%);
    }
    #hamburger_checkbox:checked ~ ul .nav_toggle{
        margin: 1rem 0;
        display: initial;
    }
    #hamburger_checkbox:checked ~ ul{
        padding-top: 80px;
    }

    /*--------------------------------------------*/

    .presentation{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .presentation_text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo_container{
        height: 40%;
        width: auto;
        display: flex;
        justify-content: center;
    }

    #presentation_img{
        height: 100%;
    }

    /*--------------------------------------------*/

    .stack-container{
        height: auto;
        justify-content: space-between;
        padding: 25px 0;
    }

    .stack-container-background{
        height: 100%;
    }

    .stack-row{
        width: 90%;
        height: 125px;
        gap: 50px;
        margin: 0;
    }

    .hexagon{
        height: 90px;
        width: 59px;
    }

    /*--------------------------------------------*/

    .project-division{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .project{
        width: 90%;
    }

    .introduction h2{
        width: 70%;
    }

}

@media (max-width: 700px) {
    
    .introduction h2{
        width: 85%;
    }

    .introduction p{
        width: 85%;
    }

    /*----------------*/

    .stack-row{
        width: 90%;
        height: 125px;
        gap: 45px;
        margin: 0;
    }

    .hexagon{
        height: 75px;
        width: 52px;
    }

    /*----------------*/

    .projects h2{
        font-size: 22px;
    }

    .project{
        width: 100%;
    }

}

@media (max-width: 550px){
    .projects h2{
        text-align: center;
        width: 80%;
    }
    .stack-row{
        width: 90%;
        height: 100px;
        gap: 35px;
        margin: 0;
    }

    .hexagon{
        height: 60px;
        width: 46px;
    }
    .presentation_text h1{
        font-size: 2.8rem;
    }

    .presentation .buttons{
        gap: 10px;
    }
}

@media (max-width: 450px){
    .introduction img{
        width: 20%;
    }
    .introduction h2{
        font-size: 22px;
    }
    .introduction p{
        width: 95%;
        font-size: 16px;
    }
    .stack-row{
        width: 90%;
        gap: 32.5px;
        margin: 0;
    }
    .hexagon{
        height: 55px;
        width: 44px;
    }
}

@media (max-width: 400px){
    .presentation_text h1{
        font-size: 2.5rem;
    }
    .presentation_text button{
        padding: 10px 15px;
    }
    .projects h2{
        width: 90%;
    }
    .stack-row{
        width: 90%;
        gap: 27.5px;
        margin: 0;
    }
    .hexagon{
        height: 55px;
        width: 44px;
    }
}