@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Exo+2:wght@700;900&family=Satisfy&display=swap');

:root{
    --background: #ffffff;
    --opposite_background: #1c1d21;
    --section_background:#faf8f8;
    --text_and_details: #121212;
    --orange_contrast: #CC5500;
}

*{
    scroll-behavior: smooth;
}

img,li,a{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    /* cursor: none; */
}

main{
    background: var(--background);
    color: var(--text_and_details);
    width: 100%;
    transition: 0.5s;
}

/* --------------- Cursor ----------------*/

#cursor{
    position: absolute;
    width: 20px;
    border-radius: 50%;
    pointer-events: none;
    aspect-ratio: 1;
    background: transparent;
    box-sizing: border-box;
    border: none;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    z-index: 5;
    display: none;
}

.navbar ul li:hover:not(:nth-child(4)) ~ #cursor{
    background: transparent;
    border: 1px solid var(--text_and_details);
    width: 60px;
} 

.navbar #hamburger_checkbox:hover ~ ul #cursor{
    opacity: 0;
} 

/* label:hover ~ #cursor{
    opacity: 0;
    transition: 0.2s;
}  */
/* --------------- Navbar ----------------*/

.navbar{
    height: 10vh;
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
}

.navbar ul{
    min-height: 10vh;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 5rem;
}

.navbar ul li{
    margin-right: 7.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--text_and_details);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.nav_toggle{
    display: flex;
    align-items: center;
}

/*---------- Imported Switch -------------*/

.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 20px;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 20px;
    left: 0.1em;
    bottom: 0.15em;
    background-color: #aeaaae;
    transition: .4s;
}

input:checked + .slider::before {
    background-color: var(--orange_contrast);
}

input:checked + .slider {
    background-color: rgb(230, 200, 146);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--orange_contrast);
}

input:checked + .slider:before {
    transform: translateX(1.2em);
}

/* ---------- Imported Particles -------------*/

.background-particles {
    position:absolute;
    display:block;
    top: 0;
    left: 0;  
    z-index: 1;
    pointer-events: none;

    }

/* ---------- Hamburger Button ---------------*/

#hamburger_checkbox{
    display: none;
}

.hamburger_button{
    transition: 1s;
    position: fixed;
    top: 25px;
    right: 50%;
    left:50%;
    transform: translateX(-50%);
    width: 40px;
    height: 35px;
    display: none;
    padding: 5px;
    border: 1px solid var(--text_and_details);
    border-radius: 15px;
    cursor: pointer;
}

.hamburger_button span{
    display: block;
    margin: 5px auto;
    width: 27.5px;
    height: 5px;
    background: var(--text_and_details);
    border-radius: 100px;
    transition: 1s;
}

#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(1){
    position: absolute;
    right: 30%;
    left: 30%;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: top left;
}
#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(2){
    position: absolute;
    opacity: 0;
    top: 40%;
    bottom: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    
}
#hamburger_checkbox:checked ~ .hamburger_button span:nth-child(3){
    position: absolute;
    width: 30px;
    top: 25px;
    right: 30%;
    left: 30%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/* ---------- Presentation ---------------*/

.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    height: 90vh;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0;
}

.presentation_text{
    position: absolute;
    left:15vw;
    top: 30%;
    width: 30vw;
    z-index: 5;
}

#presentation_img{
    position: absolute;
    right:17.5vw;
    height:55vh;
    top: 25%;
    bottom: 0vh;
    z-index: 5;
}

.presentation h1{
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 0;
}

.presentation h2{
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.presentation p{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.presentation button{
    background: var(--text_and_details);
    color: var(--background);
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.presentation .buttons{
    display: flex;
    gap: 35px;
    margin-top: 25px;
}

.presentation button:hover{
    background: var(--orange_contrast);
    cursor: pointer;
}

/* -------------- Introduction ---------------*/

.introduction{
    height: 80vh;
    padding: 10vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--opposite_background);
    font-family: 'Exo 2', sans-serif;
    color: var(--background);
}

.introduction img{
    top: 0;
    width: 100px;
    filter:invert(100%);
}

.introduction h2{
    width: 40%;
    text-align: center;
    font-size: 28px;
}

.introduction p{
    font-size: 20px;
    width: 60%;
    text-align: center;
}

/* ------------Stack Container --------------*/

.stack-container{
    margin-top: 0;
    font-family: 'Exo 2', sans-serif;
    height: 100vh;
    background: url(Imagenes/cool-background.png);
    /* background:var(--section_background); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.stack-row{
    position: relative;
    height: 30%;
    margin: 12.5px 0;
    padding: 0 10%;
    display: flex;
    gap: 120px;
    align-items: center;
}

.stack-row img{
    height: 75%;
    filter: drop-shadow(2px 2px 2px #585858);
    z-index: 9999;
    animation: counter-rotation 60s linear infinite;
}

.stack-row img:hover{
    cursor: pointer;
}
.toRight{
    /* background: red; */
    transform: translateX(22.5%);
    overflow:hidden;
}

.toLeft{
    /* background: green; */
    transform: translateX(-22.5%);
    overflow:hidden;
}

/* --------- Imported Hexagon ------------*/
.toRight .hexagon{
    animation: rotation 60s linear infinite;
}

.toLeft .hexagon{
    animation: counter-rotation 60s linear infinite;
}

.toLeft img{
    animation: rotation 60s linear infinite;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.75px;
    height: 150px;
    background: linear-gradient(90deg, #00ffb8, #0e966f);
    border-radius: 15px;
    transition: transform 400ms ease;
    position: relative;
}

.hexagon:hover{
    transition: 2s ease;
    background: linear-gradient(90deg, #e8a6f8, #b439d3);
    /* background: linear-gradient(90deg, #ff9b3e, #be7311); */
}

.hexagon::before, .hexagon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    background: inherit;
    border-radius: inherit;
}
.hexagon::before {
    transform: rotate(60deg);
}
.hexagon::after {
    transform: rotate(-60deg);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* -----------  Animaciones -----------*/

/*--------------- Footer -----------------*/

footer{
    height: 30vh;
    width: 100%;
    bottom: 0;
    background:var(--background);
}

/* ---------------------------------------*/

@media (max-width: 1420px) {
.navbar ul{
    margin-right: 0;
    justify-content: center;
}
.navbar ul li{
    margin: 0 5rem;
}
.presentation {
flex-direction: column;
}
.presentation_text{
    position: static;
    width: 60vw;
    margin-bottom: 2rem;
}
.presentation h1,h2,p {
    text-align: center;
}

#presentation_img{
    position: static;
    height: 30vh;
}
}

@media (max-width: 850px) {
    .navbar ul{
        transition: 0.5s;
        width: 100%;
        min-height: 100px;
        background: var(--section_background);
        position: fixed;
        flex-direction: column;
        z-index: 97;
    }
    .navbar ul li{
        margin-right: 0;
        z-index: 98;
    }
    .nav_toggle{
        display: none;
    }
    .hamburger_button{
        display: block;
        z-index: 99;
    }
    #hamburger_checkbox:checked ~ ul .nav_toggle{
        margin: 1rem 0;
        display: initial;
    }
    #hamburger_checkbox:checked ~ ul{
        padding-top: 80px;
    }

}

@media (max-width: 700px) {
    .presentation_text{
        width: 80vw;
    }
}